body {
  font-family: Arial;
  background: #fff;
  color: #000;
  text-align: center; }
  body input {
    outline: none; }
  body .input-error {
    color: red; }
  body .span-error {
    background-color: orange;
    padding: 1px 4px 1px 4px;
    border-radius: 5px; }
  body .equation {
    font-size: 28px;
    margin: 30px 0 150px 0;
    height: 50px; }
    body .equation .finalInput {
      border: 3px solid #999999;
      border-radius: 7px;
      width: 40px;
      font-size: 25px;
      text-align: center; }
  body .container {
    width: 875px;
    margin: 0 auto; }
    body .container .content {
      position: relative;
      margin: 0 auto;
      width: 800px; }
      body .container .content .canvas-container {
        position: relative;
        margin: 0 auto; }
        body .container .content .canvas-container .first-input,
        body .container .content .canvas-container .second-input {
          display: none;
          border: 3px solid #999999;
          border-radius: 7px;
          width: 20px;
          font-size: 25px;
          text-align: center; }
        body .container .content .canvas-container .canvas {
          z-index: 1;
          margin: 0 auto -68px;
          display: block;
          margin-left: 35px; }
      body .container .content .scale {
        display: block;
        margin: 0 auto;
        width: 875px;
        height: 80px; }
